<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilicould.blog.dao.TagMapper">
    <insert id="insert">
        insert into tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            slug,
            <if test="color != null">color,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{name},
            #{slug},
            <if test="color != null">#{color},</if>
        </trim>
    </insert>

    <select id="selectBySlug" resultType="com.lilicould.blog.entity.Tag">
        select * from tag where slug = #{slug}
    </select>

    <select id="selectById" resultType="com.lilicould.blog.entity.Tag">
        select * from tag where id = #{id}
    </select>
</mapper>