<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilicould.blog.dao.TagMapper">
    <insert id="insert">
        INSERT INTO tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            name,
            slug,
            <if test="color != null">color,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{name},
            #{slug},
            <if test="color != null">#{color},</if>
        </trim>
    </insert>

    <select id="selectByName" resultType="com.lilicould.blog.entity.Tag">
        SELECT * FROM tag WHERE name = #{name}
    </select>

    <select id="selectBySlug" resultType="com.lilicould.blog.entity.Tag">
        SELECT * FROM tag WHERE slug = #{slug}
    </select>

    <select id="selectById" resultType="com.lilicould.blog.entity.Tag">
        SELECT * FROM tag WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="com.lilicould.blog.entity.Tag">
        SELECT * FROM tag
    </select>

    <update id="update">
        UPDATE tag
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="slug != null">slug = #{slug},</if>
            <if test="color != null">color = #{color},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM tag WHERE id = #{id}
    </delete>
</mapper>